

@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12 mb-5">
                <div class="slider">
                    <div>
                        <video class="img-fluid" autoplay loop muted>
                            <source src="../img/banner.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>

                </div>
            </div>
      
            @*<div class="col-md-12 mb-5">
            <img src="../img/img1.png" class="img-fluid" alt="İlk Resim Açıklaması" />
        </div>*@
            <!-- İkinci Alt Sol Div (3 Bölüm) -->
            <div class="col-md-3 mb-4">
                <img src="../img/img4.png" class="img-fluid" alt="Üçüncü Resim Açıklaması" />
            </div>

            <!-- İkinci Alt Orta Div (3 Bölüm) -->
            <div class="col-md-3 mb-4">
                <img src="../img/img5.png" class="img-fluid" alt="Dördüncü Resim Açıklaması" />
            </div>

            <!-- İkinci Alt Sağ Div (3 Bölüm) -->
            <div class="col-md-3 mb-4">
                <img src="../img/img6.png" class="img-fluid" alt="Beşinci Resim Açıklaması" />
            </div>

            <!-- İkinci Alt Sağ Div (3 Bölüm) -->
            <div class="col-md-3 mb-4">
                <img src="../img/img7.png" class="img-fluid" alt="Altıncı Resim Açıklaması" />
            </div>
            <!-- İlk Alt Sol Div (6 Bölüm) -->
            <div class="col-md-6 mb-5">
                <img src="../img/img2.png" class="img-fluid" alt="İlk Resim Açıklaması" />
            </div>

            <!-- İlk Alt Sağ Div (6 Bölüm) -->
            <div class="col-md-6 mb-5">
                <img src="../img/img3.png" class="img-fluid" alt="İkinci Resim Açıklaması" />
            </div>


        </div>
    </div>
</section>
